@using Project.Models
@model Team

@{
    ViewBag.Title = "Команда " + @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl>
        <dt>Название @Html.DisplayFor(model => model.Title)</dt>
        <dt>Игроки</dt>

        <dd>
            <ul>
                @foreach (Person player in Model.Persons)
                {
                    <li>@player.Name (@player.Position)</li>

                }
            </ul>
        </dd>
    </dl>
</div>
