@model Team
@{
    ViewBag.Title = "Редактирование сотрудника";
}
<form asp-action="Edit" asp-controller="Team" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Название команды:</label>
        <input type="text" asp-for="Title" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Duty" class="control-label">Дежурства:</label>
        @Html.DropDownList("Duty", new SelectList(new int[] { 1, 2, 3, 4, 5 }, @Model.Duty), new { @class = "select-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
