@model IEnumerable<Team>
@{
    ViewBag.Title = "Все команды";
    int i = 0;
}
<h2>Все команды</h2>
<table class="list_table">
    <thead>
        <tr class="title_tr">
            <th class="th_item center">№</th>
            <th class="pad_th">Название</th>
            <th class="th_item">Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Team item in Model)
        {
            i++;
            <tr>
                <td class="center">@i.</td>
                <td class="pad_td center"><a asp-action="Details" asp-controller="Team" asp-route-id="@item.Id">@item.Title</a></td>
                <td class="pad_td center">
                    <form asp-action="Delete" asp-controller="Team" asp-route-id="@item.Id">
                        <button class="button_del"><img src="~/images/del_check.png" class="del" alt="del_check" /></button>
                    </form>
                </td>
            </tr>
        }
        @if (i == 0)
        {
            <tr><td colspan="3" class="center">Отсутствуют</td></tr>
        }
    </tbody>
</table>
<a asp-action="Create">Создать команду</a>
