@model Vacation
@{
    ViewBag.Title = "Добавить отпуск";

}
<h2 class="person-link">Добавить отпуск</h2>
<h2><a asp-action="Details" asp-controller="Person" asp-route-id="@ViewBag.Person.Id">@ViewBag.Person.Name</a></h2>
<form asp-action="Add" asp-controller="Vacation">
    <input type="hidden" asp-for="Id" value="" />
    <input type="hidden" asp-for="PersonId" value="@ViewBag.PersonId" />
    <table class="vacations_table">
        <thead>
            <tr class="title_tr">
                <th class="pad_th center">Причина</th>
                <th class="pad_th center">Начало</th>
                <th class="pad_th center">Конец</th>
            </tr>
        </thead>
        <tbody id="team_det">
            <tr>
                <td><input type="text" asp-for="Reason" class="edit pad_td center input_reason" placeholder="Причина" autocomplete="off" required /></td>
                <td><input type="date" asp-for="StartDate"  class="edit pad_td" required /></td>
                <td><input type="date" asp-for="EndDate"  class="edit pad_td" required /></td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-light" />
    </div>
</form>
